* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.button {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkslategrey;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

#calculator {
    width: 450px; /* ? */
    border: 1px solid black;
}

#display {
    margin: 1em;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#symbolIcons {
    display: flex;
    border: 1px solid red;
}

.displaySymbols {
    margin: 3px;
}

#displayM {
    margin-left: auto;
}

#operands {
    text-align: right;
    font-size: 2.5rem;
}

#buttonContainer {
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

#b0 {
    grid-column: 1 / 3;
}

#del {
    grid-column: -3 / -1;
}

#funExtras {
    display: flex;
    justify-content: space-between;
}

#solarPanel {
    background-color: green;
    width: 4rem;
}